<!DOCTYPE html>
<html lang="en">

<head>
    <title>6 skills trong căn bếp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/color.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/search.css">  <link rel="stylesheet" href="/css/Homepage.css">
    <link rel="stylesheet" href="/css/6Skillslambep.css">
    <style>
        #results {
            display: none;
        }
    </style>
</head>

<body>
    <header class="style1">
        <div class="search">
                <form action="" class ="search-box">
                    <input class="search-input" type="text" placeholder="Tìm công thức..." id="search">
                    <i class='bx bx-search-alt-2'></i>
                </form>
            </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
            <div class="logo">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="/image/logo1.png" alt="">
                </a>
            </div>
            <div class="navbar-toggler active">
                <span></span><span></span><span></span>
            </div>
            <div class="nav-menu active">
                <!-- navbar-close -->
                <div class="navbar-close">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <nav class="main-menu">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="home-drop" onclick="submenu(0)">
                            <a href="javascript:void(0)" class="home-click">
                                Công thức
                                <svg fill="#000" height="15" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                    <path id="two" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                                </svg>
                            </a>
                            <ul class="home-page-2">
                                <li><a href="/BuaSang">Món Ăn Sáng</a></li>
                                <li><a href="/BuaTrua">Món Ăn Trưa</a></li>
                            </ul>
                        </li>
                        <li><a href="/MeoVat">Mẹo vặt</a></li>
                        <li><a href="#footer">About Us</a></li>
                            <% if (username) { %>
                            <!-- Nếu đã đăng nhập, hiển thị username -->
                            <li class="home-drop" onclick="submenu(1)">
                                <a href="javascript:void(0)" class="home-click">
                                    <%= username %>
                                    <svg fill="#000" height="15" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                        <path id="two" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                                    </svg>
                                </a>
                                <ul class="home-page-2">
                                    <li><a href="/Profile">Profile</a></li>
                                    <li><a href="/Logout">Logout</a></li>
                                </ul>
                            </li>
                            <% } else { %>
                            <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                            <div class="site-menu-btns">
                                <a class="theme-btn-secondary" href="/Login" title="">Login</a>
                            </div>
                            <% } %>
                </nav>
                
            </div>
            <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Công thức
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/BuaSang">Món Ăn Sáng</a></li>
                            <li><a class="dropdown-item" href="/BuaTrua">Món Ăn Trưa</a></li>
                        </ul>
                    </li>

                    <li><a href="/MeoVat" title="">Mẹo vặt</a></li>
                    <li><a href="#footer" title="">About Us</a></li>
                </ul>
                <div class="site-menu-btns d-flex">
                    <% if (username) { %>
                        <!-- Nếu đã đăng nhập, hiển thị username -->
                        <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown position-relative">
                                    <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= username %>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="/Profile"> Profile</a></li>
                                        <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <% } else { %>
                        <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                        <div><a class="theme-btn-secondary" href="/Login" title="">Login</a></div>
                    <% } %>
                </div>
            </nav>
        </div>
    </header>
    <div id="wr">
        <div class="container-skills">
            <div class="container-skills-2">
                <div class="container-skills-2-block1">
                    <div class="container-skills-2-block1-1">
                        <div class="container-skills-2-block1-1-header">
                            <div class="navigation">
                                <ul>
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><span>></span></li>
                                    <li><a href="/MeoVat">Mẹo Vặt</a></li>
                                </ul>
                            </div>
                            <h1 style="margin-top: 0;">6 skills trong căn bếp để có bữa ăn ngon </h1>
                            <p>
                                Chỉ cần nắm vững những kỹ năng này, trình nấu nướng của bạn sẽ được nâng cấp, dù thực tế
                                bạn
                                không quá thích vào bếp hay nấu ăn giỏi.
                            </p>
                            <h2>1. Luôn khử mùi hôi các loại thịt</h2>
                            <p>
                                Các loại thịt này kết hợp với các loại gia vị để có thể chế biến thành nhiều món, từ
                                hầm,
                                chiên,
                                xào, rán, luộc... Tuy nhiên nếu bỏ qua một bước quan trọng nhất, sẽ không có món ăn nào
                                thực
                                sự
                                hoàn hảo. Đó là khử mùi của các loại thịt.
                            </p>
                            <img class="image" src="/image/6skillslambep/bokho.png" alt="Bò kho">
                            <p>
                                Đây là bí quyết các đầu bếp chuyên nghiệp hay áp dụng, đặc biệt với thịt bò. Ngoài các
                                công
                                dụng
                                như trên nó còn giúp thịt bò khi chín có màu và vị đậm đà, bắt mắt hơn.
                            </p>
                            <p>
                                Đây là bí quyết các đầu bếp chuyên nghiệp hay áp dụng, đặc biệt với thịt bò. Ngoài các
                                công
                                dụng
                                như trên nó còn giúp thịt bò khi chín có màu và vị đậm đà, bắt mắt hơn.
                            </p>
                            <h2>2. Kỹ năng chiên cá</h2>
                            <p>Nhiều người bị mất điểm ở món cá chiên vì làm cá nát.</p>
                            <p>Muốn chiên cá vàng rộm và không nát, cần phải học được cách tạo lớp chống dính cho chảo.
                                Đầu
                                tiên
                                làm nóng chảo, cho một ít dầu ăn vào chảo, đun nóng, rồi đổ lớp dầu này đi. Tiếp đó, cho
                                ít
                                dầu
                                lạnh vào, làm nóng rồi mới cho cá rán. Theo cách này bạn sẽ không sợ dính chảo nữa vì đã
                                có
                                một
                                lớp màng bảo vệ.</p>
                            <img class="image" src="/image/6skillslambep/cachien.jpg" alt="Cá chiên ">
                            <p>Bạn cũng có thể dùng củ gừng chà lên bề mặt chảo trước khi rán. Gừng sẽ tạo ra một lớp
                                chống
                                dính, đồng thời khử mùi tanh giúp món cá thơm ngon hơn. Hãy chiên một mặt cho thật vàng,
                                sau
                                đó
                                mới đổi sang mặt khác.</p>
                            <h2>3. Cách làm rau xanh</h2>
                            <p>Muốn rau xanh, không bị ra nước hãy xào trên lửa lớn với mỡ lợn. Mỡ lợn giúp rau không
                                chỉ
                                béo,
                                ngon hơn mà còn tạo ra màng bọc làm giảm lượng nước trong rau tiết ra.</p>
                            <img class="image" src="/image/6skillslambep/rauxao.png" alt="Rau xào">
                            <p>Tại các nhà hàng, người ta còn thường chần rau sơ, rồi thả vào chậu nước đá lạnh, khi ăn
                                mới
                                xào,
                                giúp rau luôn xanh bắt mắt. Thời điểm cho muối vào rau cũng rất quan trọng. Phải đợi rau
                                chín
                                tới mới cho muối. Nếu cho sớm quá, rau sẽ bị ra nước, không còn bóng, chưa kể ăn mất
                                ngon.
                            </p>
                            <h2>4. Khử mùi tanh của cá</h2>
                            <p>Nhiều người sợ cá mè, cá trôi, cá trắm vì mùi tanh. Nhưng lý do thật sự mùi tanh của cá
                                chủ
                                yếu
                                do chưa được làm sạch.</p>
                            <img class="image" src="/image/6skillslambep/casong.jpg" alt="Cá sống">
                            <p>Nên dùng baking soda làm sạch cá, lý do trong bột này có tính kiềm, giúp loại bỏ chất
                                nhầy
                                trên
                                bề mặt của các loại cá. Một khi hết chất nhầy sẽ hết mùi tanh.</p>
                            <h2>5. Lưu ý khi dùng rượu khi nấu ăn</h2>
                            <p>Nhiều người nghĩ đến rượu đầu tiên để khử mùi cho các loại thịt, cá. Tuy nhiên không phải
                                nguyên
                                liệu nào cũng dùng được rượu.</p>
                            <img class="image" src="/image/6skillslambep/ruou.png" alt="Rượu">
                            <p>Ví dụ khi trộn nhân thịt băm làm bánh, tuyệt đối không cho rượu, bởi khi rượu gặp nhiệt
                                độ
                                cao sẽ
                                bay hơi cồn, làm cho nhân bánh có vị lạ.</p>
                            <h2>6. Xử lý khi món ăn bị mặn</h2>
                            <p>Các món canh có thể dễ xử lý khi bị mặn, vì chỉ cần cho nước. Nhưng các món xào, hay hầm,
                                bạn
                                không thể làm vậy.</p>
                            <p>Trong trường hợp rau củ xào bị mặn, hãy thêm một chút đường để phân tán vị mặn và cân
                                bằng
                                món
                                ăn.</p>
                            <img class="image" src="/image/6skillslambep/cakho.png" alt="Cá kho">
                            <p>Nếu là món hầm, bạn có thể cho thêm khoai tây hoặc củ cải vào, vì hai loại này có khả
                                năng
                                hấp
                                thụ muối rất tốt.</p>
                        </div>
                    </div>
                    <div class="container-skills-2-block2">
                        <div class="scrolling-block">
                            <div>
                                <h2>Xem nhiều nhất</h2>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/10-bi-kip-chon-thuc-pham-tuoi"><img class="image"
                                        src="/image/10bikipchonthucphamtuoi/trungga.jpg" alt="Trứng gà"
                                        style="height: 130px;"></a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/10-bi-kip-chon-thuc-pham-tuoi">
                                    <div>
                                        <h3>10 bí kíp chọn thực phẩm tươi ngon</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/Cach-lam-sang-am-dun-nuoc-dien"><img class="image"
                                        src="/image/lamsachamdunnuoc/1.jpg " alt="Các công cụ để vệ sinh ấm đun nước"
                                        style="height: 130px;"></a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/Cach-lam-sang-am-dun-nuoc-dien">
                                    <div>
                                        <h3>Cách làm sạch ấm đun nước điện</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/4-meo-bien-thit-dai-thanh-thit-mem"><img class="image"
                                        src="/image/4meobienthitdaithanhthitmem/1.jpg" alt="Thịt ngâm rượu sake"
                                        style="height: 130px;"></a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/4-meo-bien-thit-dai-thanh-thit-mem">
                                    <div>
                                        <h3>Bốn mẹo biến thịt dai thành mềm mại</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/6-Skills-lam-bep"><img class="image" class="image"
                                        src="/image/6luuychonguoimoibatdau/MCIM02007674_FR10-KL-L1-6CookingTips-Prep.webp"
                                        alt="Recipes" style="height: 130px;"></a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/6-Skills-lam-bep">
                                    <div>
                                        <h3>6 lưu ý nấu ăn đơn giản </h3>
                                    </div>
                                </a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/Nau-an-voi-ngu-coc"><img class="image"
                                        src="/image/Nauanvoingucoc/MCIM02007768_FR14-KL-R2-CookingWithGrains-Spelt.webp"
                                        alt="Lúa mì nâu (spelt)" style="height: 130px;"></a>
                            </div>
                            <div class="container-skills-2-block2-1">
                                <a href="/MeoVat/Nau-an-voi-ngu-coc">
                                    <div>
                                        <h3>Hướng dẫn nấu ăn cùng các loại ngũ cốc</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div className="App" style="font-family: sans-serif;
    text-align: center;">
            <h1>Contact Me Here</h1>

            <div>
                <form className="form" style="display: flex;
          flex-direction: column;
          padding-left: 25%;" action="https://sheetdb.io/api/v1/ihsyigi3s3hjt" method="POST" id="sheetdb-form">
                    <input placeholder="Your Name" name="data[Name]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                    <input placeholder="Your Email" name="data[Email]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                    <input placeholder="Your Message" name="data[Message]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                </form>
                <button name="btnSubmit" type="submit" style="height: 50px; width: 30%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;">Submit</button>
                <script>
                    var form = document.getElementById('sheetdb-form');
                    form.addEventListener("submit", e => {
                        e.preventDefault();
                        fetch(form.action, {
                            method: "POST",
                            body: new FormData(document.getElementById("sheetdb-form")),
                        }).then(
                            response => response.json()
                        ).then((html) => {
                            // you can put any JS code here
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div id="results">
    </div>
    <script src="/js/search.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="/js/script.js"></script>
    <div class="footer">
        <div class="address">
            <h2>Contact</h2>
            <p>Trường Đại học Công nghệ Thông tin</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh</p>
            <p>Số điện thoại: 028 3725 2002</p>

        </div>
        <div class="aboutus">

            <h2>About us</h2>
            <p1>Chào mừng đến với nhóm 14 Cooking!</p1>
            <p>Nhóm 14 Cooking là một đội ngũ đam mê ẩm thực, nơi chúng tôi chia sẻ và khám phá nhiều hương vị mới
                mẻ từ
                khắp nơi trên thế giới. Chúng tôi tin rằng việc nấu ăn không chỉ là một cách để thư giãn và tạo ra
                những
                món ngon, mà còn là một hành trình văn hóa, kết nối con người và tạo ra những kỷ niệm đáng nhớ.</p>
        </div>
        <div class="social">
            <h2>Follow us</h2><br>
            <h3>Lớp NT208.O23</h3><br>
            <i class='bx bxl-facebook-circle'></i>
            <i class='bx bxl-github'></i>
            <i class='bx bxl-gmail'></i>
        </div>
    </div>
</body>

</html>