<!DOCTYPE html>
<html lang="en">

<head>
    <title>Burnt CheseCake mềm chảy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/Homepage.css">
    <link rel="stylesheet" href="/css/burntchesecakememchay.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/search.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
    <style>
        #results {
            display: none;
        }
    </style>
</head>

<body>
    <header class="style1">
        <div class="search">
                <form action="" class ="search-box">
                    <input class="search-input" type="text" placeholder="Tìm công thức..." id="search">
                    <i class='bx bx-search-alt-2'></i>
                </form>
            </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
            <div class="logo">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="/image/logo1.png" alt="">
                </a>
            </div>
            <div class="navbar-toggler active">
                <span></span><span></span><span></span>
            </div>
            <div class="nav-menu active">
                <!-- navbar-close -->
                <div class="navbar-close">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <nav class="main-menu">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="home-drop" onclick="submenu(0)">
                            <a href="javascript:void(0)" class="home-click">
                                Công thức
                                <svg fill="#000" height="15" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                    <path id="two" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                                </svg>
                            </a>
                            <ul class="home-page-2">
                                <li><a href="/BuaSang">Món Ăn Sáng</a></li>
                                <li><a href="/BuaTrua">Món Ăn Trưa</a></li>
                            </ul>
                        </li>
                        <li><a href="/MeoVat">Mẹo vặt</a></li>
                        <li><a href="#footer">About Us</a></li>
                            <% if (username) { %>
                            <!-- Nếu đã đăng nhập, hiển thị username -->
                            <li class="home-drop" onclick="submenu(1)">
                                <a href="javascript:void(0)" class="home-click">
                                    <%= username %>
                                    <svg fill="#000" height="15" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                        <path id="two" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                                    </svg>
                                </a>
                                <ul class="home-page-2">
                                    <li><a href="/Profile">Profile</a></li>
                                    <li><a href="/Logout">Logout</a></li>
                                </ul>
                            </li>
                            <% } else { %>
                            <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                            <div class="site-menu-btns">
                                <a class="theme-btn-secondary" href="/Login" title="">Login</a>
                            </div>
                            <% } %>
                </nav>
                
            </div>
            <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Công thức
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/BuaSang">Món Ăn Sáng</a></li>
                            <li><a class="dropdown-item" href="/BuaTrua">Món Ăn Trưa</a></li>
                        </ul>
                    </li>

                    <li><a href="/MeoVat" title="">Mẹo vặt</a></li>
                    <li><a href="#footer" title="">About Us</a></li>
                </ul>
                <div class="site-menu-btns d-flex">
                    <% if (username) { %>
                        <!-- Nếu đã đăng nhập, hiển thị username -->
                        <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown position-relative">
                                    <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= username %>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="/Profile"> Profile</a></li>
                                        <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <% } else { %>
                        <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                        <div><a class="theme-btn-secondary" href="/Login" title="">Login</a></div>
                    <% } %>
                </div>
            </nav>
        </div>
    </header>
    <div id="wr">
        <div class="container-food">
            <div class="container-food-2">
                <div class="container-food-2-block1">
                    <div class="container-food-2-block1-1">
                        <div class="container-food-2-block1-1-header">
                            <div class="navigation">
                                <ul>
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><span>></span></li>
                                    <li><a href="/MonAn/Bua-sang">Công thức</a></li>
                                </ul>
                            </div>
                        </div>
                        <h1 style="margin-top: 0;">Burnt CheeseCake mềm chảy </h1>
                        <img class="image" src="/image/cakememchay.jpg">
                        <p>
                            Một loại bánh có thể dễ tới mức nào? Đó là cho tất cả nguyên liệu vào máy xay sinh tố, xay
                            mịn,
                            đổ vào khuôn rồi cho vào lò Bạn không đọc nhầm đâu ạ, món cheesecake nướng cháy
                            trứ danh này thực sự có thể làm đơn giản như vậy đấy, nhà bạn nào chỉ có NCKD cũng bon chen
                            thoải mái nha.
                            Công thức burnt cheesecake thì mình đã có rồi, nhưng phiên bản hôm nay là kiểu bên ngoài thì
                            mềm, ở giữa thì hơi chảy, ăn vào tan ngay trong miệng, cực kì hợp cho những ai thích vị
                            phomai nhưng không ăn được các món quá ngấy.
                        </p>
                        <h2>Cách làm BUNRT CHEESECAKE MỀM CHẢY</h2>
                        <h3>Nguyên liệu</h3>
                        <ul>
                            <li>200 gram kem phomai (cream cheese), để mềm ở nhiệt độ phòng</li>
                            <li>1 thìa cafe nước cốt chanh tươi (không bắt buộc)</li>
                            <li>20 gram sữa đặc </li>
                            <li>40 gram đường xay + 1 nhúm muối nhỏ</li>
                            <li>250 gram kem tươi</li>
                            <li>5 lòng đỏ trứng gà</li>
                            <li>1 thìa cafe tinh chất vani</li>
                        </ul>

                        <h3> Cách làm</h3>
                        <p>1. Chuẩn bị:</p>
                        <p>- Làm nóng NCKD ở 190 độ C trước 10 phút. Nếu bạn dùng lò thì làm nóng ở khoảng 210 - 220 độ
                            C
                        </p>
                        <p>- Lót giấy nến vào khuôn tròn 16cm.</p>
                        <p>2. Cho toàn bộ nguyên liệu vào máy xay sinh tố, xay nhuyễn mịn (sau khi xay xong có thể lọc
                            qua
                            rây nếu chưa chắc chắn).</p>
                        <p>3. Nướng</p>
                        <p>- Với NCKD: Nướng 190 - 200 độ C trong 7 - 10 phút, tới khi thấy mặt bánh đã cháy xém thì
                            dùng
                            giấy bạc che mặt và nướng thêm khoảng 15 - 18 phút.</p>
                        <p>- Với lò nướng: Nướng 210 - 220 độ C ở rack giữa trong khoảng 18 - 20 phút.</p>
                        <p>- Kiểm tra bánh chín: Bánh nướng càng lâu sẽ càng khô hơn. Nếu bạn muốn ăn ở giữ bánh mềm
                            chảy
                            thì như video thì kiểm tra bằng cách lắc khuôn bánh, nếu viền xung quanh đã khô không di
                            chuyển,
                            còn khoảng giữa bánh vẫn rung rinh là được (phần còn rung rinh này sẽ cóđường kính khoảng
                            5cm
                            chính giữa bánh). Không nên nướng bánh non quá, khi nguội bánh sẽ
                            không định hình được và chảy lỏng.</p>
                        <p>- Nếu bạn muốn ăn bánh chín hẳn và khô ráo thì nướng khoảng 25 - 28 phút, tới khi lắc thấy
                            bánh
                            không còn rung rinh.</p>
                        <p>4. Sau khi nướng, để bánh nguội hoàn toàn rồi để lạnh tối thiểu 4 giờ trước khi ăn. Bảo quản
                            bánh
                            trong ngăn mát và dùng trong 3 - 4 ngày.</p>
                        <img class="image" src="/image/cakemem.jpg">
                    </div>
                </div>
                <div class="container-food-2-block2">
                    <div class="scrolling-block">
                        <div>
                            <h2>Món ăn nổi bật </h2>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Banh-bao"><img class="image"
                                    src="https://cdn.tgdd.vn/Files/2019/09/28/1202682/cach-lam-banh-bao-nhan-thit-thom-ngon-bang-bot-mi-tai-nha-202206041025434861.jpg"
                                    alt="bánh bao" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Banh-bao">
                                <div>
                                    <h3>Bánh Bao nhân thịt chuẩn vị.</h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Banh-trung-thu"><img class="image"
                                    src="https://static.vinwonders.com/production/nguyen-lieu-lam-banh-trung-thu-1.jpg"
                                    alt="Các công cụ để vệ sinh ấm đun nước" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Banh-trung-thu">
                                <div>
                                    <h3>Bánh trung thu trứng muối, phá cỗ cùng cùng bé vui </h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Bun-ca"><img class="image"
                                    src="https://static.vinwonders.com/production/bun-ca-ha-noi-banner.jpg"
                                    alt="chesecake" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Bun-ca">
                                <div>
                                    <h3>Bún cá Hà Nội</h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/yen-mach-sua-chua"><img class="image" class="image"
                                    src="https://cdn-img.thethao247.vn/storage/files/linhseo/2022/01/11/hoa-qua-dam-yen-mach-2-1-1641910509.jpg"
                                    alt="Recipes" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/yen-mach-sua-chua">
                                <div>
                                    <h3>Yến mạch sữa chưa healthy </h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/chan-ga-sa-ot"><img class="image"
                                    src="https://cdn.mediamart.vn/images/news/chia-s-cach-lam-chan-ga-st-thai-chua-cay-ngon-bt-bi_6c5c7afe.jpg"
                                    alt="Lúa mì nâu (spelt)" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/chan-ga-sa-ot">
                                <div>
                                    <h3>Chân gà sả ớt</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div className="App" style="font-family: sans-serif;
text-align: center;">
    <h1>Góp Ý</h1>
    <div>
      <script src="https://sheetdb.io/s/f/bues6uem9ua09.js"></script>
    </div>
  </div>
    </div>
    <div id="results"></div>
    <script src="/js/search.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="/js/script.js"></script>
    <div class="footer">
        <div class="address">
            <h2>Contact</h2>
            <p>Trường Đại học Công nghệ Thông tin</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh</p>
            <p>Số điện thoại: 028 3725 2002</p>

        </div>
        <div class="aboutus">

            <h2>About us</h2>
            <p1>Chào mừng đến với nhóm 14 Cooking!</p1>
            <p>Nhóm 14 Cooking là một đội ngũ đam mê ẩm thực, nơi chúng tôi chia sẻ và khám phá nhiều hương vị mới
                mẻ từ
                khắp nơi trên thế giới. Chúng tôi tin rằng việc nấu ăn không chỉ là một cách để thư giãn và tạo ra
                những
                món ngon, mà còn là một hành trình văn hóa, kết nối con người và tạo ra những kỷ niệm đáng nhớ.</p>
        </div>
        <div class="social">
            <h2>Follow us</h2><br>
            <h3>Lớp NT208.O23</h3><br>
            <i class='bx bxl-facebook-circle'></i>
            <i class='bx bxl-github'></i>
            <i class='bx bxl-gmail'></i>
        </div>
    </div>
</body>

</html>