<!DOCTYPE html>
<html lang="en">

<head>
    <title> CHÂN GÀ NGÂM SẢ ỚT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/Homepage.css">
    <link rel="stylesheet" href="/css/burntchesecakememchay.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="style1">
        <div class="search">
                <form action="" class ="search-box">
                    <input class="search-input" type="text" placeholder="Tìm công thức..." id="search">
                    <i class='bx bx-search-alt-2'></i>
                </form>
            </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
            <div class="logo">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="/image/logo1.png" alt="">
                </a>
            </div>
            <div class="navbar-toggler active">
                <span></span><span></span><span></span>
            </div>
            <div class="nav-menu active">
                <!-- navbar-close -->
                <div class="navbar-close">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <nav class="main-menu">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="home-drop" onclick="submenu(0)">
                            <a href="javascript:void(0)" class="home-click">
                                Công thức
                                <svg fill="#000" height="15" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                    <path id="two" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                                </svg>
                            </a>
                            <ul class="home-page-2">
                                <li><a href="/BuaSang">Món Ăn Sáng</a></li>
                                <li><a href="/BuaTrua">Món Ăn Trưa</a></li>
                            </ul>
                        </li>
                        <li><a href="/MeoVat">Mẹo vặt</a></li>
                        <li><a href="#footer">About Us</a></li>
                            <% if (username) { %>
                            <!-- Nếu đã đăng nhập, hiển thị username -->
                            <li class="home-drop" onclick="submenu(1)">
                                <a href="javascript:void(0)" class="home-click">
                                    <%= username %>
                                    <svg fill="#000" height="15" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                        <path id="two" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                                    </svg>
                                </a>
                                <ul class="home-page-2">
                                    <li><a href="/Profile">Profile</a></li>
                                    <li><a href="/Logout">Logout</a></li>
                                </ul>
                            </li>
                            <% } else { %>
                            <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                            <div class="site-menu-btns">
                                <a class="theme-btn-secondary" href="/Login" title="">Login</a>
                            </div>
                            <% } %>
                </nav>
                
            </div>
            <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Công thức
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/BuaSang">Món Ăn Sáng</a></li>
                            <li><a class="dropdown-item" href="/BuaTrua">Món Ăn Trưa</a></li>
                        </ul>
                    </li>

                    <li><a href="/MeoVat" title="">Mẹo vặt</a></li>
                    <li><a href="#footer" title="">About Us</a></li>
                </ul>
                <div class="site-menu-btns d-flex">
                    <% if (username) { %>
                        <!-- Nếu đã đăng nhập, hiển thị username -->
                        <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown position-relative">
                                    <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= username %>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="/Profile"> Profile</a></li>
                                        <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <% } else { %>
                        <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                        <div><a class="theme-btn-secondary" href="/Login" title="">Login</a></div>
                    <% } %>
                </div>
            </nav>
        </div>
    </header>
    <div id="wr">

        <div class="container-food">
            <div class="container-food-2">
                <div class="container-food-2-block1">
                    <div class="container-food-2-block1-1">
                        <div class="container-food-2-block1-1-header">
                            <div class="navigation">
                                <ul>
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><span>></span></li>
                                    <li><a href="/MonAn/Bua-trua">Công thức</a></li>
                                </ul>
                            </div>
                        </div>
                        <h1 style="margin-top: 0;"> CHÂN GÀ NGÂM SẢ ỚT CHUA CAY, ĐẬM VỊ</h1>
                        <img class="image" src="https://i.ytimg.com/vi/6sqv4rrUA2g/maxresdefault.jpg">
                        <p>
                            Món ăn vặt quốc dân cuối cùng cũng đổ bộ SD đây ạaaa!!!! Chân gà giòn sần sật, chua chua,
                            ngọt
                            ngọt, cay cay lại thơm mùi sả – tắc, dù ăn vặt hay để làm mồi nhậu cho cả nhà uống bia tối
                            mùa
                            hè thì đều hết xảy.

                        <p> Mình chính xác là “đạo” chân gà, nhiều khi thèm lắm nhưng chẳng dám ăn ngoài hàng vì sợ họ
                            mua
                            chân gà không đảm bảo, rồi sơ chế không sạch, khi ăn chân gà có mùi không thơm, giờ có công
                            thức
                            rồi thì làm tại nhà vừa nhanh lại ngon – bổ – rẻ, cả nhà trẻ nhỏ người lớn ăn đều yên tâm 😁

                            ❤️Nhắn nhắn: Trong 2 ngày duy nhất (06 – 08/06), tất cả khóa học làm bánh Online của Savoury
                            Days được ưu đãi 20% dành riêng cho học viên mới. Bạn liên hệ fanpage để nhận thông tin cụ
                            thể
                            nha 💕</p>
                        </p>
                        <h2>Cách làm CHÂN GÀ NGÂM SẢ ỚT</h2>
                        <h3>Nguyên liệu</h3>
                        <ul>
                            <h4>A.Nước ngâm chân gà</h4>
                            <li>1,5 lít nước</li>
                            <li>230 gram nước mắm</li>
                            <li>300 gram đường </li>
                            <li>60 gram nước quất (tắc) tươi</li>
                            <li>1 thìa canh bột ớt Hàn Quốc (không bắt buộc)</li>
                            <p><i>Lưu ý: Bột ớt Hàn Quốc sẽ giúp cho chân gà có màu đỏ đẹp mà không bị quá cay, bạn có
                                    thể
                                    dùng bột ớt Việt Nam nhưng chỉ nên dùng khoảng 1 thìa cà phê nếu không ăn được quá
                                    cay
                                    nhé.</i></p>
                        </ul>
                        <img class="image"
                            src="https://cdn.eva.vn/upload/3-2023/images/2023-07-03/cach-lam-chan-ga-sa-tac-an-lien-gion-ngon-khong-bi-nhot-dang-cach-lam-chan-ga-sa-tac-eva-vn-012-1675938155-437--1688368917-452-width780height585.jpg">
                        <ul>
                            <h4>B. Chân gà ngâm sả ớt:</h4>
                            <li>1kg chân gà rút xương</li>
                            <li>5-6 củ sả, cắt nhỏ</li>
                            <li>10 quả quất, cắt dọc</li>
                            <li>Ớt tươi (không bắt buộc)</li>
                            <h4>Nguyên liệu sơ chế chân gà:</h4>
                            <li>3-4 củ sả</li>
                            <li>Gừng, muối, rượu trắng</li>
                        </ul>
                        <img class="image"
                            src="https://daotaobeptruong.vn/wp-content/uploads/2020/03/cach-lam-chan-ga-ngam-sa-tac-ngon.jpg">

                        <h3>Cách làm</h3>

                        <p>1. Làm nước ngâm chân gà: Cho nước, nước mắm, đường, nước quất tươi và bột ớt vào nồi, khuấy
                            đều
                            ở lửa vừa-lớn cho đường tan hết, đun tới khi hỗn hợp sôi, tiếp tục đun sôi khoảng 1-2 phút
                            thì
                            tắt bếp, để nguội hoàn toàn. </p>
                        <p>2. Bóp sạch chân gà với rượu, muối, sả và gừng đập dập để khử mùi, rửa lại thêm 3-4 lần nước
                            tới
                            khi chân gà sạch hoàn toàn.</p>
                        <p>3. Đun khoảng 2 lít nước để luộc chân gà, thêm sả và gừng đập dập. Khi nước đã sôi, cho chân
                            gà
                            vào luộc 20 phút ở lửa vừa-lớn.</p>
                        <p>4. Chuẩn bị 1 bát nước đá lạnh. Khi chân gà đã chín, rửa lại với nước cho sạch, thả chân gà
                            vào
                            ngâm trong bát nước đá lạnh trong vòng 20 phút để giúp chân gà được giòn. </p>
                        <p>5. Đổ bỏ nước đá lạnh, đợi chân gà ráo nước thì cho vào hộp sạch để ngâm, thêm sả, quất và ớt
                            tươi. </p>
                        <p>6. Khi nước ngâm chân gà đã nguội, đổ vào hộp chân gà, trộn đều và đóng kín hộp, ngâm chân gà
                            tối
                            thiểu 6 tiếng là có thể dùng được. Chân gà sẽ ngon hơn khi được ngâm từ 1-2 ngày. Bảo quản
                            trong
                            tủ lạnh, dùng trong vòng 1 tuần. </p>
                        <img class="image"
                            src="https://cdn.tgdd.vn/Files/2020/03/20/1243308/lam-ngay-chan-ga-ngam-sa-tac-sieu-ngon-sieu-de-cho-ngay-cuoi-tuan-202112201408076048.jpg">
                    </div>
                </div>
                <div class="container-food-2-block2">
                    <div class="scrolling-block">
                        <div>
                            <h2>Món ăn nổi bật </h2>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Banh-bao"><img class="image"
                                    src="https://cdn.tgdd.vn/Files/2019/09/28/1202682/cach-lam-banh-bao-nhan-thit-thom-ngon-bang-bot-mi-tai-nha-202206041025434861.jpg"
                                    alt="bánh bao" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Banh-bao">
                                <div>
                                    <h3>Bánh Bao nhân thịt chuẩn vị.</h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Bnah-trung-thu"><img class="image"
                                    src="https://static.vinwonders.com/production/nguyen-lieu-lam-banh-trung-thu-1.jpg"
                                    alt="Các công cụ để vệ sinh ấm đun nước" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Banh-trung-thu">
                                <div>
                                    <h3>Bánh trung thu trứng muối, phá cỗ cùng cùng bé vui </h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/burnt-cheese-cake-mem-chay"><img class="image"
                                    src="https://jajabakes.com/wp-content/uploads/2020/06/basque-burnt-cheesecake-4-720x720.jpg"
                                    alt="chesecake" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/burnt-cheese-cake-mem-chay">
                                <div>
                                    <h3>Burnt chesecake mềm chảy</h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Bun-ca"><img class="image" class="image"
                                    src="https://static.vinwonders.com/production/bun-ca-ha-noi-banner.jpg"
                                    alt="Recipes" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/Bun-ca">
                                <div>
                                    <h3>Bún cá Hà Nội</h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/yen-mach-sua-chua"><img class="image"
                                    src="https://cdn-img.thethao247.vn/storage/files/linhseo/2022/01/11/hoa-qua-dam-yen-mach-2-1-1641910509.jpg"
                                    alt="yenmachsuachua" style="height: 130px;"></a>
                        </div>
                        <div class="container-food-2-block2-1">
                            <a href="/MonAn/yen-mach-sua-chua">
                                <div>
                                    <h3>Yến mạch sữa chua healthy</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div className="App" style="font-family: sans-serif; text-align: center;">
            <h1>Contact Me Here</h1>

            <div>
                <form className="form" style="display: flex;
          flex-direction: column;
          padding-left: 25%;" action="https://sheetdb.io/api/v1/ihsyigi3s3hjt" method="POST" id="sheetdb-form">
                    <input placeholder="Your Name" name="data[Name]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                    <input placeholder="Your Email" name="data[Email]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                    <input placeholder="Your Message" name="data[Message]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                </form>
                <button name="btnSubmit" type="submit" style="height: 50px; width: 30%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;">Submit</button>
                <script>
                    var form = document.getElementById('sheetdb-form');
                    form.addEventListener("submit", e => {
                        e.preventDefault();
                        fetch(form.action, {
                            method: "POST",
                            body: new FormData(document.getElementById("sheetdb-form")),
                        }).then(
                            response => response.json()
                        ).then((html) => {
                            // you can put any JS code here
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div id="results"></div>
    <script src="/js/search.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="/js/script.js"></script>
    <div class="footer">
        <div class="address">
            <h2>Contact</h2>
            <p>Trường Đại học Công nghệ Thông tin</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh</p>
            <p>Số điện thoại: 028 3725 2002</p>

        </div>
        <div class="aboutus">

            <h2>About us</h2>
            <p1>Chào mừng đến với nhóm 14 Cooking!</p1>
            <p>Nhóm 14 Cooking là một đội ngũ đam mê ẩm thực, nơi chúng tôi chia sẻ và khám phá nhiều hương vị mới
                mẻ từ
                khắp nơi trên thế giới. Chúng tôi tin rằng việc nấu ăn không chỉ là một cách để thư giãn và tạo ra
                những
                món ngon, mà còn là một hành trình văn hóa, kết nối con người và tạo ra những kỷ niệm đáng nhớ.</p>
        </div>
        <div class="social">
            <h2>Follow us</h2><br>
            <h3>Lớp NT208.O23</h3><br>
            <i class='bx bxl-facebook-circle'></i>
            <i class='bx bxl-github'></i>
            <i class='bx bxl-gmail'></i>
        </div>
    </div>
</body>

</html>