<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hướng dẫn nấu ăn cùng các loại ngũ cốc</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/Homepage.css">
    <link rel="stylesheet" href="/css/Nauanvoingucoc.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/search.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
    <style>
        #results {
            display: none;
        }
    </style>
</head>

<body>
    <header class="style1">
        <div class="search">
                <form action="" class ="search-box">
                    <input class="search-input" type="text" placeholder="Tìm công thức..." id="search">
                    <i class='bx bx-search-alt-2'></i>
                </form>
            </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
            <div class="logo">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="/image/logo1.png" alt="">
                </a>
            </div>
            <div class="navbar-toggler active">
                <span></span><span></span><span></span>
            </div>
            <div class="nav-menu active">
                <!-- navbar-close -->
                <div class="navbar-close">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <nav class="main-menu">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="home-drop" onclick="submenu(0)">
                            <a href="javascript:void(0)" class="home-click">
                                Công thức
                                <svg fill="#000" height="15" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                    <path id="two" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                                </svg>
                            </a>
                            <ul class="home-page-2">
                                <li><a href="/BuaSang">Món Ăn Sáng</a></li>
                                <li><a href="/BuaTrua">Món Ăn Trưa</a></li>
                            </ul>
                        </li>
                        <li><a href="/MeoVat">Mẹo vặt</a></li>
                        <li><a href="#footer">About Us</a></li>
                            <% if (username) { %>
                            <!-- Nếu đã đăng nhập, hiển thị username -->
                            <li class="home-drop" onclick="submenu(1)">
                                <a href="javascript:void(0)" class="home-click">
                                    <%= username %>
                                    <svg fill="#000" height="15" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                        <path id="two" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                                    </svg>
                                </a>
                                <ul class="home-page-2">
                                    <li><a href="/Profile">Profile</a></li>
                                    <li><a href="/Logout">Logout</a></li>
                                </ul>
                            </li>
                            <% } else { %>
                            <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                            <div class="site-menu-btns">
                                <a class="theme-btn-secondary" href="/Login" title="">Login</a>
                            </div>
                            <% } %>
                </nav>
                
            </div>
            <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Công thức
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/BuaSang">Món Ăn Sáng</a></li>
                            <li><a class="dropdown-item" href="/BuaTrua">Món Ăn Trưa</a></li>
                        </ul>
                    </li>

                    <li><a href="/MeoVat" title="">Mẹo vặt</a></li>
                    <li><a href="#footer" title="">About Us</a></li>
                </ul>
                <div class="site-menu-btns d-flex">
                    <% if (username) { %>
                        <!-- Nếu đã đăng nhập, hiển thị username -->
                        <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown position-relative">
                                    <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= username %>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="/Profile"> Profile</a></li>
                                        <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <% } else { %>
                        <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                        <div><a class="theme-btn-secondary" href="/Login" title="">Login</a></div>
                    <% } %>
                </div>
            </nav>
        </div>
    </header>
    <div id="wr">
        <div class="container-skills">
            <div class="container-skills-2">
                <div class="container-skills-2-block1">
                    <div class="container-skills-2-block1-1">
                        <div class="container-skills-2-block1-1-header">
                            <div class="navigation">
                                <ul>
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><span>></span></li>
                                    <li><a href="/MeoVat">Mẹo Vặt</a></li>
                                </ul>
                            </div>
                        </div>
                        <h1 style="margin-top: 0;">Hướng dẫn nấu ăn cùng các loại ngũ cốc </h1>
                        <p>
                            Nếu bạn đang muốn bổ sung thêm nhiều ngũ cốc nguyên cám vào chế độ ăn uống nhưng chưa biết
                            bắt
                            đầu từ đâu và nấu như thế nào thì bạn có thể tìm hiểu hướng dẫn nấu ăn với ngũ cốc đơn giản
                            này
                            của chúng tôi. Cách chuẩn bị ngũ cốc có thể chỉ đơn giản như là cho thêm chúng vào nồi cơm
                            đang
                            nấu hoặc món salad, hay dùng chúng thay cho yến mạch và cornflakes. Hãy đọc và ngạc nhiên
                            với đa
                            dạng các cách nấu ngũ cốc!
                        </p>
                        <h2>1. Hạt dền (Amaranth)</h2>
                        <p>
                            Hạt dền (Amaranth) là một loại "hạt" giống như ngũ cốc, giàu protein và không chứa gluten,
                            có
                            kích thước tương đương với hạt anh túc. Về hương vị, nó có vị như hạt dẻ, có mạch nha và có
                            mùi
                            thơm.
                        </p>
                        <img class="image"
                            src="/image/Nauanvoingucoc/MCIM02007763_FR14-KL-L1-CookingWithGrains-Amaranth.webp"
                            alt="Hạt dền (Amaranth)">
                        <p>
                            Hạt dền sẽ trở nên mềm nhũn khi được nấu như cơm. Nếu bạn không thích các món mềm, chúng tôi
                            khuyên bạn nên rang, nổ như bỏng hoặc luộc loại hạt này.
                        </p>
                        <p>
                            Bạn có thể thử nướng hạt dền trong một chiếc chảo nóng, khô cho đến khi nó nổ như bỏng ngô,
                            tạo
                            thành một món ăn nhẹ hấp dẫn hoặc ăn kèm với súp hay salad. Nếu không, hãy nấu 1/2 cup hạt
                            dền
                            với 1 1/2 cup nước ép táo để tạo thành món cháo mịn ngon miệng cho bữa sáng.
                        </p>
                        <p>
                            Hạt dền cũng rất phù hợp để nấu cùng các loại ngũ cốc khô hơn như gạo nâu, bổ sung thêm
                            hương vị
                            hạt dẻ ngọt ngào cho gạo. Hãy thay 1/4 khẩu phần của ngũ cốc bạn hay sử dụng với hạt dền để
                            có
                            bữa tối bổ dưỡng hơn.
                        </p>
                        <h2>2. Diêm mạch (Quinoa)</h2>
                        <p>Diêm mạch (Quinoa), cũng như hạt dền, là một loại ngũ cốc cổ xưa và là lương thực chính của
                            người
                            Axtec và Maya. Tuy nhiên, kết cấu của chúng rất khác nhau. Diêm mạch được coi là siêu thực
                            phẩm
                            vì đây là nguồn cung cấp protein hoàn chỉnh cho hàm lượng sắt, magiê và chất xơ cao. Diêm
                            mạnh
                            cũng cực kỳ dễ nấu và có mùi vị như hạt dẻ mịn mượt, thơm ngon, là sự thay thế hoàn hảo cho
                            cơm
                            trắng có nhiều đường.</p>
                        <img class="image"
                            src="/image/Nauanvoingucoc/MCIM02007767_FR14-KL-R1-CookingWithGrains-Quinoa.webp"
                            alt="Diêm mạch (Quinoa)">
                        <p>Khi nấu ăn với diêm mạch, hãy nhớ rửa sạch bởi lớp phủ tự nhiên của nó có vị đắng. Chỉ cần
                            nấu
                            diêm mạch đơn giản như nấu cơm - nếu muốn thêm hương vị, hãy nấu cùng nước dùng gà hoặc nước
                            dùng rau để làm thành món ăn phụ đơn giản nhưng tuyệt vời đi kèm với các món thịt. Diêm mạch
                            hấp
                            thụ chất lỏng rất tốt nhưng vẫn giữ được độ mịn, vì vậy rất nhiều người thích dùng nó như
                            một
                            "chiếc giường" để đặt thịt nướng hoặc cá nướng lên.</p>
                        <p>Hãy nấu theo tỷ lệ 1 cup diêm mạch khô và 2 cup chất lỏng. Và đoán xem? Bạn có thể nấu một
                            cách
                            rất đơn giản chỉ bằng nồi cơm điện.</p>
                        <h2>3. Đại mạch (Barley)</h2>
                        <p>Đại mạch (Barley) ít xa lạ với chúng ta so với các loại ngũ cốc cổ khác, nhưng vẫn không kém
                            phần
                            linh hoạt. Ngoài việc có thể làm thành nước đại mạch, nó cũng rất tuyệt vời khi dùng trong
                            các
                            món súp nhờ độ mềm, dai. Bạn chỉ cần thêm các hạt đại mạch ngọc trai vào súp và nước hầm để
                            món
                            ăn thêm đậm đặc và dinh dưỡng.</p>
                        <img class="image"
                            src="/image/Nauanvoingucoc/MCIM02007764_FR14-KL-L2-CookingWithGrains-Barley.webp"
                            alt="Đại mạch (Barley)">
                        <p>Đại mạch rất giàu chất xơ và protein, và có 2 dạng: đại mạch không vỏ trấu (hulled barley) và
                            đại
                            mạch ngọc trai (pearl barley). Đại mạch không vỏ trấu vẫn giữ được lớp cám và nội nhũ. Có
                            màu
                            nâu nhạt và hương vị giống hạt dẻ, loại đại mạch này được coi là lựa chọn lành mạnh hơn so
                            với
                            đại mạch ngọc trai đã qua xử lý.</p>
                        <h2>4. Lúa mì nâu (spelt)</h2>
                        <p>Lúa mì nâu (spelt) đã từng là lương thực chính ở châu Âu, nhưng đã bị lúa mì thay thế; tuy
                            nhiên
                            giờ đây nó đã trở nên phổ biến hơn với những người quan tâm đến sức khỏe. Lúa mì nâu cũng
                            hơi
                            dai như đại mạch nhưng săn chắc và có vị gần với hạt dẻ hơn, và có kết cấu mịn khi nấu chín.
                        </p>
                        <img class="image"
                            src="/image/Nauanvoingucoc/MCIM02007768_FR14-KL-R2-CookingWithGrains-Spelt.webp"
                            alt="Lúa mì nâu (spelt)">
                        <p>Lúa mì nâu có thể là sự thay thế hoàn hảo cho gạo, vì vậy một trong những cách nấu loại lúa
                            mì
                            này dễ nhất là làm thành risotto với rau, phô mai và một ít nước chanh. Nó có thể thay thế
                            pasta
                            trong các món salad hoặc kết hợp cùng cà ri để có hương vị ngon nhất. Tỷ lệ nấu lý tưởng là
                            1
                            cup lúa mì nâu và 4 cup chất lỏng. Nếu bạn thích món ăn mềm và mịn, hãy ngâm nó qua đêm
                            trước
                            khi nấu.</p>
                        <h2>5. Gạo lứt và Gạo hoang</h2>
                        <p>Gạo lứt và Gạo hoang là những người anh em gần nhất với giống gạo trắng, và có lẽ đã quen
                            thuộc
                            với với hầu hết chúng ta.</p>
                        <img class="image"
                            src="/image/Nauanvoingucoc/MCIM02007765_FR14-KL-L3-CookingWithGrains-BrownRice.webp"
                            alt="Gạo lứt và Gạo hoang">
                        <p>Gạo lứt là loại gạo vẫn còn một phần vỏ trấu - có chứa nhiều protein và chất xơ. Để thêm gạo
                            lứt
                            vào chế độ ăn uống của mình, hãy nấu nó y như bạn nấu gạo trắng nhưng lâu hơn 1 chút, bởi
                            loại
                            gạo này cứng hơn gạo trắng. Tỷ lệ ước tính nên là 1 cup gạo lứt với 2 1/2 cup chất lỏng.</p>
                        <p>Gạo hoang có vị hạt dẻ nồng hơn và là một loại hạt vẫn còn hoàn toàn nguyên vẹn với cám, nội
                            nhũ
                            và mầm, khiến có giàu dinh dưỡng và chất xơ hơn cả gạo lứt. Để món ăn có kết cấu tốt nhất,
                            hãy
                            nấu 1 cup gạo hoang với 3 cup chất lỏng.</p>
                        <p>Đây đều là những loại ngũ cốc cứng, vì vậy có thể dùng làm nhân nhồi gà tây và mang tới mùi
                            vị
                            tuyệt vời cho các món salad lạnh mà không gây mềm nhũn.</p>
                        <h2>6. Hạt kê (millet)</h2>
                        <p>Mặc dù hạt kê (millet) có thể trông giống như thức ăn của chim (thực tế đúng là vậy!) nhưng
                            nó là
                            loại ngũ cốc cực kỳ ngon, nhẹ, ngọt và rất dễ kết hợp vào các bữa ăn hàng ngày của bạn.</p>
                        <img class="image"
                            src="/image/Nauanvoingucoc/MCIM02007769_FR14-KL-R3-CookingWithGrains-Millet.webp"
                            alt="Hạt kê (millet)">
                        <p>Giàu chất sắt, Vitamin B và canxi, hạt kê có vị hơi giống hạt ngô và không chứa gluten. Nó
                            nấu
                            rất nhanh và là món ăn hoàn hảo nếu bạn cần một bữa ăn đơn giản. Để nấu 1 cup hạt kê, bạn sẽ
                            cần
                            2 cup nước. Nếu bạn muốn có kết cấu giống như cháo, hãy cho thêm 1 cup nước nữa. Hạt kê chỉ
                            mất
                            15 phút để nấu, và 10 phút để tơi vụn lên thành ngũ cốc vàng, thơm. Bạn có thể cho hạt kê
                            thô
                            vào bánh quy, muffin hoặc bánh mì để tăng thêm độ giòn.</p>
                    </div>
                </div>
                <div class="container-skills-2-block2">
                    <div class="scrolling-block">
                        <div>
                            <h2>Xem nhiều nhất</h2>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/10-bi-kip-chon-thuc-pham-tuoi"><img class="image"
                                    src="/image/10bikipchonthucphamtuoi/trungga.jpg" alt="Trứng gà"
                                    style="height: 130px;"></a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/10-bi-kip-chon-thuc-pham-tuoi">
                                <div>
                                    <h3>10 bí kíp chọn thực phẩm tươi ngon</h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/Cach-lam-sang-am-dun-nuoc-dien"><img class="image"
                                    src="/image/lamsachamdunnuoc/1.jpg " alt="Các công cụ để vệ sinh ấm đun nước"
                                    style="height: 130px;"></a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/Cach-lam-sang-am-dun-nuoc-dien">
                                <div>
                                    <h3>Cách làm sạch ấm đun nước điện</h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/4-meo-bien-thit-dai-thanh-thit-mem"><img class="image"
                                    src="/image/4meobienthitdaithanhthitmem/1.jpg" alt="Thịt ngâm rượu sake"
                                    style="height: 130px;"></a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/4-meo-bien-thit-dai-thanh-thit-mem">
                                <div>
                                    <h3>Bốn mẹo biến thịt dai thành mềm mại</h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/6-luu-y-cho-nguoi-moi-bat-dau"><img class="image" class="image"
                                    src="/image/6luuychonguoimoibatdau/MCIM02007674_FR10-KL-L1-6CookingTips-Prep.webp"
                                    alt="Recipes" style="height: 130px;"></a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/6-luu-y-cho-nguoi-moi-bat-dau">
                                <div>
                                    <h3>6 lưu ý nấu ăn đơn giản </h3>
                                </div>
                            </a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/10-bi-kip-chon-thuc-pham-tuoi"><img class="image"
                                    src="/image/10bikipchonthucphamtuoi/trungga.jpg" alt="Trứng gà"
                                    style="height: 130px;"></a>
                        </div>
                        <div class="container-skills-2-block2-1">
                            <a href="/MeoVat/10-bi-kip-chon-thuc-pham-tuoi">
                                <div>
                                    <h3>10 bí kíp chọn thực phẩm tươi ngon</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div className="App" style="font-family: sans-serif;
    text-align: center;">
            <h1>Contact Me Here</h1>

            <div>
                <form className="form" style="display: flex;
          flex-direction: column;
          padding-left: 25%;" action="https://sheetdb.io/api/v1/ihsyigi3s3hjt" method="POST" id="sheetdb-form">
                    <input placeholder="Your Name" name="data[Name]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                    <input placeholder="Your Email" name="data[Email]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                    <input placeholder="Your Message" name="data[Message]" type="text" style="height: 50px; width: 75%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;" />
                </form>
                <button name="btnSubmit" type="submit" style="height: 50px; width: 30%;
            margin-top: 20px;
            border-radius: 10px;
            padding: 5px;">Submit</button>
                <script>
                    var form = document.getElementById('sheetdb-form');
                    form.addEventListener("submit", e => {
                        e.preventDefault();
                        fetch(form.action, {
                            method: "POST",
                            body: new FormData(document.getElementById("sheetdb-form")),
                        }).then(
                            response => response.json()
                        ).then((html) => {
                            // you can put any JS code here
                        });
                    });
                </script>
            </div>
        </div>

    </div>
    <div id="results"></div>
    <script src="/js/search.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="/js/script.js"></script>
    <div class="footer">
        <div class="address">
            <h2>Contact</h2>
            <p>Trường Đại học Công nghệ Thông tin</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh</p>
            <p>Số điện thoại: 028 3725 2002</p>

        </div>
        <div class="aboutus">

            <h2>About us</h2>
            <p1>Chào mừng đến với nhóm 14 Cooking!</p1>
            <p>Nhóm 14 Cooking là một đội ngũ đam mê ẩm thực, nơi chúng tôi chia sẻ và khám phá nhiều hương vị mới
                mẻ từ
                khắp nơi trên thế giới. Chúng tôi tin rằng việc nấu ăn không chỉ là một cách để thư giãn và tạo ra
                những
                món ngon, mà còn là một hành trình văn hóa, kết nối con người và tạo ra những kỷ niệm đáng nhớ.</p>
        </div>
        <div class="social">
            <h2>Follow us</h2><br>
            <h3>Lớp NT208.O23</h3><br>
            <i class='bx bxl-facebook-circle'></i>
            <i class='bx bxl-github'></i>
            <i class='bx bxl-gmail'></i>
        </div>
    </div>
</body>

</html>