<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/SignUp.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form action="/Register" method="post" >
            <h1>Register</h1>
            <div class="inputbox">
                <input type="text" placeholder="Username" id="Username" name="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="inputbox">
                <input type="password" placeholder="Password" id="Password" name="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="inputbox">
                <input type="password" placeholder="Retype Password" id="Retype Password" name="RetypePassword" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            
            <button class="btn" type="submit">Register</a></button>
            <div class="register-link">
                <p>You already have an account? <a href="/login">Login now</a></p>

            </div>
        </form>
    </div>
</body>

</html>