<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/color.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="/css/Userpage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="logo">
                    <a class="navbar-brand" href="javascript:void(0)">
                        <img src="/image/logo1.png" alt="">
                    </a>
                </div>
                <div class="navbar-toggler active">
                    <span></span><span></span><span></span>
                </div>
                <div class="nav-menu active">

                    <div class="navbar-close">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <nav class="main-menu">
                        <ul>
                            <li class="home-drop" onclick="submenu(0)"><a href="javascript:void(0)"
                                    id="home-click">Trang Chủ </a>
                            <li class="home-drop" onclick="submenu(1)"><a href="javascript:void(0)"
                                    class="home-click">Công thức</a>
                                <ul class="home-page-2">
                                    <li><a href="">Khai vị
                                        </a></li>
                                    <li><a href="/MonAn/Bua-Sang">Đồ ăn sáng
                                        </a></li>
                                    <li><a href="">Thức uống </a></li>
                                    <li><a href="/MonAn/Bua-Trua"> Đồ ăn trưa</a></li>
                                    <li><a href="">Tráng miệng</a></li>
                                </ul>
                            </li>
                            <li class="home-drop" onclick="submenu(2)"><a href="javascript:void(0)"
                                    class="home-click">Kĩ thuật chế biếns</a>
                                <ul class="home-page-2">
                                    <li><a href="kho.html"> Kho</a></li>
                                    <li><a href="nuong.html"> Nướng</a></li>
                                    <li><a href="hap.html"> Hấp </a></li>
                                    <li><a href="xao.html"> Xào </a></li>
                                    <li><a href="chien.html"> Chiên</a></li>
                                </ul>
                            </li>

                            <li><a href="/MeoVat">Mẹo vặt</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                        </ul>

                    </nav>
                </div>
                <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Công thức
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="khai_vi.html">Khai vị
                                    </a></li>
                                <li><a class="dropdown-item" href="/MonAn/Bua-Sang">Đồ ăn sáng</a></li>
                                <li><a class="dropdown-item" href="thuc_uong.html">Thức uống
                                    </a></li>
                                <li><a class="dropdown-item" href="/MonAn/Bua-Trua">Đồ ăn trưa</a></li>
                                <li><a class="dropdown-item" href="trang_mieng.html">Tráng miệng</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Kĩ thuật chế biến
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="kho.html"> Kho</a></li>
                                <li><a class="dropdown-item" href="nuong.html">Nướng</a></li>
                                <li><a class="dropdown-item" href="hap.html"> Hấp</a>
                                </li>
                                <li><a class="dropdown-item" href="xao.html"> Xào</a>
                                </li>
                                <li><a class="dropdown-item" href="chien.html"> Chiên</a>
                                </li>
                            </ul>
                        </li>

                        <li><a href="/MeoVat" title="">Mẹo vặt</a></li>
                        <li><a href="about_us.html" title="">About Us</a></li>

                    </ul>
                    <div class="site-menu-btns d-flex">
                        <div class="search-box">
                            <input class="search-input" type="text" placeholder="Search...">
                            <i class='bx bx-search-alt-2'></i>
                            <% if (username) { %>
                                <!-- Nếu đã đăng nhập, hiển thị username -->
                                <div class="site-menu-wrapper ml-auto collapse navbar-collapse">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item dropdown position-relative" style="margin: 0 0;">
                                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                <%= username %>!
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark">
                                                <li><a class="dropdown-item" href="/Profile"> Profile</a></li>
                                                <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            <% } else { %>
                                <!-- Nếu chưa đăng nhập, hiển thị nút login -->
                                <div><a class="theme-btn-secondary" href="/Login" title="">Login</a>
                                </div>
                            <% } %>
                        </div>

                    </div>
            </nav>
        </div>
    </div>
    <div class="Userdetail">
        <h1>Profile</h1>
        <div>
            <div class="profileimage">
                
                <ul class="info" style="padding-left: 20%;"">
                    <li style="display: inline; padding-right: 3rem;" >  <img style="width: 10rem; border-radius: 50%;" src="https://e7.pngegg.com/pngimages/178/595/png-clipart-user-profile-computer-icons-login-user-avatars-monochrome-black.png"></li>
                    <li style="display: inline; padding-right: 3rem;"> Nameeeeeee</li>
                    <li style="display: inline; padding-right: 3rem;">  0 Posts</li>
                    <li style="display: inline; padding-right: 3rem;">  0 Loves</li>
                    <li style="display: inline; padding-right: 3rem;">  0 Comments</li>
                </ul>
            </div>
            <div class="name">
                
                
            </div>
        </div>
        <ul>
            <li>Name: Nameeeeeeeeee <button type="button" class='bx bx-edit'></button> </li>
            <li>Email: name@gmail.com <button type="button" class='bx bx-edit'></button> </li>
            <li>Phone: 0123456789  <button type="button" class='bx bx-edit'></button> </li>
            <li>Username: nameusername <button type="button" class='bx bx-edit'></button> </li>
        </ul>  
        <h2>Favorite Post </h2>
        <div class="Favoritepost">
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/62b1f659a38f8b1339b88af8/16:9/w_640,c_limit/20220615-0622-sandwiches-1746-final%20(1).jpg">
                <div class="card-content">
                    <h3>Sandwich thịt nguội</h3>
                    <p>
                        Lớp bánh mì vàng giọn, ăn kèm với thịt nguội đậm đà mềm mại.
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/64fb75ef5d66b46cd549fcd3/16:9/w_640,c_limit/20230906-WEB-0519.jpg">
                <div class="card-content">
                    <h3>Bánh quy và xúc xích mặn </h3>
                    <p>
                        Một sự kết hợp táo bạo! Bạn nghĩ sao?
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/65ca6bc164786bb14f43d34d/16:9/w_640,c_limit/20240130-WEB-0241.jpg">
                <div class="card-content">
                    <h3>Cơm chiên gừng</h3>
                    <p>
                        Không cần quá nhiều nguyên liệu. Chỉ cần gừng!
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/5e2f3838ac861400082fcca3/16:9/w_640,c_limit/0220-Chicken-Cordon-Bleu-Lede.jpg">
                <div class="card-content">
                    <h3>Ức gà kẹp thịt nguội</h3>
                    <p>
                        Chỉ với ức gà, thịt nguội, phô mai lát, có ngay bữa sáng ngon lành.
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/57d199a92e9e46792492c45a/16:9/w_640,c_limit/apple-butter.jpgg">
                <div class="card-content">
                    <h3>Mức táo ngọt ngào</h3>
                    <p>
                        Mức táo ngọt ngào cho bữa sáng.
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/5c8a8e4c18e26d32b7735c8f/16:9/w_640,c_limit/Dahi-Toast.jpg">
                <div class="card-content">
                    <h3>Bánh mì nướng kiểu Ấn</h3>
                    <p>
                        Điều làm cho những chiếc bánh mì sữa chua thơm này trở nên gây nghiện là chhaunk, một hỗn hợp gia vị và thảo mộc chiên giòn cũng là lớp phủ tuyệt vời cho bít tết nướng hoặc nachos.
    
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/601185e9e0a941bb1291e9e2/16:9/w_640,c_limit/GoLive-Beef-Pho.jpg">
                <div class="card-content">
                    <h3>Phở bò nóng hổi</h3>
                    <p>
                        Sự kết hợp giữa nước phở đậm đà và thịt bò mềm mại.
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/5dcc733991b5830008dc1410/16:9/w_640,c_limit/1219-Elena-Apres-Amaro-Hot-Toddy.jpg">
                <div class="card-content">
                    <h3>Trà cam</h3>
                    <p>
                        Trà cam cho bữa sáng tao nhã
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/62b1f8f4ee3de8c374121bac/16:9/w_640,c_limit/20220615-0622-sandwiches-1779-final.jpg">
                <div class="card-content">
                    <h3>Sandwich kẹp bơ</h3>
                    <p>
                        Đơn giản, ngon lành cho bữa sáng.
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
            <div class="card">
                <img
                    src="https://assets.bonappetit.com/photos/61defe765f99da4446b8a522/16:9/w_640,c_limit/Vegan_Banana_Oatmeal_Pancake_16x9.jpg">
                <div class="card-content">
                    <h3>Pancake chuối</h3>
                    <p>
                        Đơn giản, ngon lành cho bữa sáng.
                    </p>
                    <a href="" class="btn">Đọc thêm</a>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="address">
            <h2>Contact</h2>
            <p>Trường Đại học Công nghệ Thông tin</p>
            <p>Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh</p>
            <p>Số điện thoại: 028 3725 2002</p>
            <p>Email: Nhom14cooking@gmail.com</p>
        </div>
        <div class="aboutus">

            <h2>About us</h2>
            <p1>Chào mừng đến với nhóm 14 Cooking!</p1>
            <p>Nhóm 14 Cooking là một đội ngũ đam mê ẩm thực, nơi chúng tôi chia sẻ và khám phá nhiều hương vị mới
                mẻ từ
                khắp nơi trên thế giới. Chúng tôi tin rằng việc nấu ăn không chỉ là một cách để thư giãn và tạo ra
                những
                món ngon, mà còn là một hành trình văn hóa, kết nối con người và tạo ra những kỷ niệm đáng nhớ.</p>
        </div>
        <div class="social">
            <h2>Follow us</h2><br>
            <h3>Lớp NT208.O23</h3><br>
            <i class='bx bxl-facebook-circle'></i>
            <i class='bx bxl-github'></i>
            <i class='bx bxl-gmail'></i>
        </div>
    </div>
</body>

</html>