.Userdetail h1 {
  text-align: center;
}

.Userdetail ul {
  padding-left: 35%;
  font-size: 2rem;
}

.Userdetail h2 {
  text-align: center;
}

.Userdetail profileimage img {
  padding-left: 30%;
}

.Favoritepost {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background-color: #fffbf5;
}

.button-edit  {
  width: 10%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;  
}
.button-update{
  width: 10%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
}
.button-edit:hover, .button-update:hover {
  background-color: #45a049;
}

#edit-fields {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#edit-fields input[type="text"]{
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
#edit-fields input[type="password"] {
  #edit-fields input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px; 
    box-sizing: border-box;
  }
  

}
.button-cancel {
  background-color: #f44336;
  width: 10%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
}

.button-cancel:hover {
  background-color: #da190b;
}
.rowss {
  display: flex;
  flex-direction: column;
}
.rowss input[type="text"],
.rowss button {
  width: 30%;
  box-sizing: border-box; 
  margin-bottom: 10px; 
}