<div>
	<header class="style1">
		<div class="search">
			<form action="" class="search-box">
				<input type="text" placeholder="Tìm công thức ...." name="q" id="search">
				<button type="submit"><img src="/image/search.png"></button>
			</form>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg">
				<div class="logo">
					<a class="navbar-brand" href="javascript:void(0)">
						<img src="/image/logo1.png" alt="">
					</a>
				</div>
				<div class="navbar-toggler active">
					<span></span><span></span><span></span>
				</div>
				<div class="nav-menu active">
					<!-- navbar-close -->
					<div class="navbar-close">
						<div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
					</div>
					<!-- main menu -->
					<nav class="main-menu">
						<ul>
							<li class="home-drop" onclick="submenu(0)"><a href="javascript:void(0)"
									id="home-click">Trang Chủ </a>
							<li class="home-drop" onclick="submenu(1)"><a href="javascript:void(0)"
									class="home-click">Công thức</a>
								<ul class="home-page-2">
									<li><a href="">Khai vị
										</a></li>
									<li><a href="/BuaSang">Đồ ăn sáng
										</a></li>
									<li><a href="">Thức uống </a></li>
									<li><a href="/BuaTrua"> Đồ ăn trưa</a></li>
									<li><a href="">Tráng miệng</a></li>
								</ul>
							</li>

							<li><a href="/MeoVat">Mẹo vặt</a></li>
							<li><a href="about_us.html">About Us</a></li>
						</ul>

					</nav>
				</div>
				<div class="site-menu-wrapper ml-auto collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li><a href="/">Trang chủ</a></li>
						<li class="nav-item dropdown position-relative">
							<a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Công thức
							</a>
							<ul class="dropdown-menu dropdown-menu-dark">
								<li><a class="dropdown-item" href="khai_vi.html">Khai vị
									</a></li>
								<li><a class="dropdown-item" href="/BuaSang">Đồ ăn sáng</a></li>
								<li><a class="dropdown-item" href="thuc_uong.html">Thức uống
									</a></li>
								<li><a class="dropdown-item" href="/BuaTrua">Đồ ăn trưa</a></li>
								<li><a class="dropdown-item" href="trang_mieng.html">Tráng miệng</a></li>
							</ul>
						</li>

						<li><a href="/MeoVat" title="">Mẹo vặt</a></li>
						<li><a href="about_us.html" title="">About Us</a></li>

					</ul>
					{{#if username }}
					<!-- Nếu đã đăng nhập, hiển thị username -->
					<div class="site-menu-wrapper ml-auto collapse navbar-collapse">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown position-relative" style="margin: 0 0;">
								<a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
									aria-expanded="false">
									{{ username }}!
								</a>
								<ul class="dropdown-menu dropdown-menu-dark">
									<li><a class="dropdown-item" href="/Profile"> Profile</a></li>
									<li><a class="dropdown-item" href="/Logout">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
					{{else}}
					<!-- Nếu chưa đăng nhập, hiển thị nút login -->
					<div><a class="theme-btn-secondary" href="/Login" title="">Login</a>
					</div>
					{{/if}}
			</nav>
		</div>
	</header>
	<section class="position-relative top-banner bg-gray">
		<div class="top-banner-content text-center">
			<div class="baner-name">

				<nav aria-label="breadcrumb">

				</nav>
			</div>
		</div>
	</section>
</div>