<!DOCTYPE html>
<html lang="en">

<head>
	<title>14Cooking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.minMeo.css">
    <link rel="stylesheet" href="/css/colorMeo.css">
	<link rel="stylesheet" href="/css/styleMeo.css">
    <link rel="stylesheet" href="/css/6Skillslambep.css">
    <link rel="stylesheet" href="/css/burntchesecakememchay.css">
    <!--<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>-->
</head>
<body>
    <div>
    
    {{>header}}
        <div>
          {{{body}}}
        </div>
        

       {{>footer}}
    </div>
 
    
</body>
</html>